/* 공통 CSS : START */
.btn {
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  	font-weight: 600;
	
}
.pink-btn {
    background-color: #FFCCFF;
}

.gray-btn {
	background-color: #BFBFBF;
}

input[type='text'] {
	height: 23px;
}

.hidden {
	display: none;
	
}


/* 공통 CSS : END */

/* Board 상단 스타일Start */
#boardinfo-wrap {
	border: 1px solid #CCC;
    background-color: #EFEFEF;
    padding: 35px;
    font-weight: 600;
}
#search-wrap {
    margin-top: 7px;
	border: 1px solid #CCC;
    padding: 17px;
    background-color: #EFEFEF;
}
#search_button {
    text-align: right;
    margin-top: 10px;
}
#button-wrap {
	margin-top: 10px;
	margin-bottom: 10px;
}
#search-wrap .form-group > label {
	width: 100%;
	display: inline;
}

#datepicker1 {
	margin-left: 5px;
}

#boardcnt {
	margin-left: 10px;
    color: #00B0F0;
}

#writer {
	margin-left: 5px;
}

label[for='title'] {
	padding-left: 16px;
}

#button-wrap > button:last-child {
	float: right;
}
/* Board 상단 스타일 End */


/* Board 등록 css Start*/
#board-register-wrap {
	display: none;
	position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #EFEFEF;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
}

#board-register {
	margin: 0 auto;
	width: 80%;
}
.modal-select-wrap {
	display: none;
}


.modal-regist-wrap {
	display: none;
	position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #EFEFEF;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
}
.modal-inner{
	margin: 0 auto;
	width: 80%;
}

.form-group > label {
	width: 100%;
	display: block;
}

.register-text {
	width: 100%;
	background: border-box;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid #261111;
}

#board-register-footer {
	/* display:none; */
	text-align: right;	
	margin-top: 10px;
}
#board-select-footer {
	display:none;
	text-align: right;	
	margin-top: 10px;
}
#board-modify-footer {
	display:none;
	text-align: right;	
	margin-top: 10px;
}

.form-group {
	margin-top: 15px;
}

.form-group textarea {
    width: 100%;
    background: border-box;
    border: 1px solid #261111;
    height: 100px;
    margin-top: 10px;
}

div[name="content"] {
	font-size: 11px;
}
div[name="content"] p {
	margin-top: 0;
	margin-bottom: 0;
}

/* Board 등록 css End*/

/* DataTable CSS : START */
#main-table_paginate {
	float : none;
	margin : 0 auto;
	text-align : center;
	margin-top : 10px;
}

#main-table_info {
	display : none;
}

#main-table tr td:nth-child(2){
	cursor: pointer;
}

/* DataTable CSS : END */